@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bagian Teknologi Informasi<br />
    PT Perkebunan Nusantara VIII<br />
    Jalan Sindang Sirna No 4 
    Bandung
    <abbr title="Phone">P:</abbr>
    022-2038966 ext 413
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:adm.portal.ptpn8@gmail.com">adm.portal.ptpn8@gmail.com</a><br />
</address>