<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\Studio.Project\Ptpn8.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="IHTHortikultur" Order="5" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=IHTHortikultur;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.17.17;Initial Catalog=IHTHortikultur;User ID=budi;Password=Wardanie1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IHTHortikultur_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.17.17;Initial Catalog=IHTHortikultur;User ID=budi;Password=Wardanie1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="csIdentity" Order="12" Enabled="False" xmlns="">
          <Destination Path="Data Source=192.168.17.17;Initial Catalog=Identity;User ID=budi;Password=Wardanie1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Ptpn8.UserManagement.Models.ApplicationDbContext, Ptpn8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="csKonsol" Order="13" Enabled="False" xmlns="">
          <Destination Path="Data Source=192.168.17.17;Initial Catalog=SPDK_KBN_KONSOL;User ID=budi;Password=Wardanie1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Ptpn8.Areas.Konsolidasi.Models.KonsolidasiDbContext, Ptpn8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="csAreal" Order="17" Enabled="False" xmlns="">
          <Destination Path="Data Source=192.168.17.17;Initial Catalog=ArealEF;User ID=budi;Password=Wardanie1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Ptpn8.Areas.Areal.Models.ArealdbContext, Ptpn8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="csNDNK" Order="18" Enabled="False" xmlns="">
          <Destination Path="Data Source=192.168.17.17;Initial Catalog=NDNK;User ID=budi;Password=Wardanie1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Ptpn8.Areas.NDNK.Models.NDNKDbContext, Ptpn8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="csSDM" Order="19" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Ptpn8.Areas.SDM.Models.SDMDbContext, Ptpn8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="csAPH" Order="22" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.17.17;Initial Catalog=APH;User ID=budi;Password=Wardanie1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\csAPH_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.17.17;Initial Catalog=APH;User ID=budi;Password=Wardanie1;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="csIHTHortikultur" Order="34" Enabled="False" xmlns="">
          <Destination Path="Data Source=192.168.17.17;Initial Catalog=IHTHortikultur;User ID=budi;Password=Wardanie1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.17.17;Initial Catalog=IHTHortikultur;User ID=budi;Password=Wardanie1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\csIHTHortikultur_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.17.17;Initial Catalog=IHTHortikultur;User ID=budi;Password=Wardanie1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="csPortalPTPN8" Order="41" Enabled="False" xmlns="">
          <Destination Path="Data Source=192.168.17.17;Initial Catalog=PortalPTPN8;User ID=budi;Password=Wardanie1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Ptpn8.Models.Ptpn8dbContext, Ptpn8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="csReferensi" Order="45" Enabled="False" xmlns="">
          <Destination Path="Data Source=.;Initial Catalog=ReferensiEF;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Ptpn8.Areas.Referensi.Models.ReferensiDbContext, Ptpn8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="csSPDKKanpus" Order="46" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Ptpn8.Models.SPDKKanpusDbContext, Ptpn8" MigrationConfiguration="Ptpn8.Migrations.Configuration, Ptpn8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="eFakturEntities" Order="47" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.17.17;Initial Catalog=eFaktur;User ID=budi;Password=Wardanie1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eFakturEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.17.17;Initial Catalog=eFaktur;User ID=budi; Password=Wardanie1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="csBGR" Order="48" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=222.165.223.204;Initial Catalog=wms;User ID=ptpn8;Password=WMSb612" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\csBGR_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=222.165.223.204;Initial Catalog=wms;User ID=ptpn8; Password=WMSb612" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="csKPBN" Order="49" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=36.37.107.231;Initial Catalog=penjualanPTPN8;User ID=budi;Password=Wardanie1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\csKPBN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=36.37.107.231;Initial Catalog=penjualanPTPN8;User ID=budi; Password=Wardanie1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csAreal-Web.config Connection String">
      <ParameterValue>Data Source=192.168.17.17;Initial Catalog=ArealEF;User ID=budi;Password=Wardanie1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csIdentity-Web.config Connection String">
      <ParameterValue>Data Source=192.168.17.17;Initial Catalog=Identity;User ID=budi;Password=Wardanie1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csIHTHortikultur-Web.config Connection String">
      <ParameterValue>Data Source=192.168.17.17;Initial Catalog=IHTHortikultur;User ID=budi;Password=Wardanie1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csKonsol-Web.config Connection String">
      <ParameterValue>Data Source=192.168.17.17;Initial Catalog=SPDK_KBN_KONSOL;User ID=budi;Password=Wardanie1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csNDNK-Web.config Connection String">
      <ParameterValue>Data Source=192.168.17.17;Initial Catalog=NDNK;User ID=budi;Password=Wardanie1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csPortalPTPN8-Web.config Connection String">
      <ParameterValue>Data Source=192.168.17.17;Initial Catalog=PortalPTPN8;User ID=budi;Password=Wardanie1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csReferensi-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=ReferensiEF;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csSDM-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csSPDKKanpus-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IHTHortikultur-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=IHTHortikultur;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>