@Model Ptpn8.UserManagement.Models.ApplicationUser

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Konfirmasi Regsitrasi</title>
</head>
<body>
    <p>
        Yth @Model.Nama,
    </p>
    <p>
        Terima kasih anda telah melakukan regsitrasi di portal aplikasi PTPN-VIII.
        Kami telah memberikan hak akses di portal aplikasi PTPN-VIII.
    </p>
    <p>
        Untuk masuk ke portal, silahkan <a href="http://www.portalpn8.net/Account/Login">klik disini</a>.
    </p>

    <p>Salam</p>
    <p>Admin Portal Aplikasi PTPN-VIII</p>

</body>
</html>  